/* 
* TK Notifications admin area styles
*/

.subscription_list {
    background-color: #bcbcbc;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: .5em;
}

.subscription_list th {
    background-color: #333333;
    color: #ffffff;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

.subscription_list tr {
    background-color: #ffffff;
}

.subscription_list tr:nth-child(odd) {
    background-color: #f2f2f2;
}

.subscription_list td {
    padding: 3px;
}


/* Table headings */
.subscription_list .sub-head {
    text-align: center;
}

/* ID column */
.subscription_list .sub-id {
    width: 20%;
    text-align: center;
}

/* Email column */
.subscription_list .sub-email {
    width: 40%;
}

/* Subscription column */
.subscription_list .sub-tax {
    width: 40%;
}